# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries in Data Science
- List 3 Open source tools used in Data Science
- Evaluate numeric arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. TensorFlow

| Data Science Tools |
:--------:
| Apache Hadoop |
| Apache Spark |
| Apache Flink |

### Below are a few examples of evaluating arithmetic expressions in Python

In [12]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [11]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
BÃ¡rbara Santos